.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;

  iframe {
    width: 100%;
  }
}

.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;

  div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    .fas {
      font-size: 20px;
      margin: 10px;
      color: #f44336;
      margin-right: 30px;
    }

    p {
      padding: 0;
    }
    h5 {
      font-size: 18px;
      margin-bottom: 5px;
      font-weight: 400;
      color: #555;
    }
  }
  input,
  textarea {
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 17px;
    box-sizing: border-box;
  }
}
